body {
    section {
        h1 {
            text-decoration: underline;
        }
        .parole {
            p {
                border-bottom: 1px dotted black;
                padding: 5px;
            }
        }
    }
    .titres {
        a {
            font-size: 1.5rem;
            color: black;
        }
    }
}